<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% dadosempresa.forEach(function(lista){ %>
        <li>
          <a href="/edit/<%= lista._id%>">
            <%= lista.nome %>
          </a>
        </li>
      <% }) %>    
      <hr>
      <a href="/new">Cadastrar Nova Empresa</a>  
    </ul>
  </body>
</html>
